@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(45deg, #00B398, #B31BB3, #FFD026, #1FCCB2, #FF0DFF);
    background-repeat: no-repeat;
    background-attachment: fixed;
}  

  
  h1 {
    text-align: center;
    font-family: 'Lobster';
    font-size: 40px;
    color: whitesmoke;
  }

  .container {
   
    margin: 0 auto;
    padding: 20px;
    display: flex;
  }

  #cardsContainer{
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30%;
    

  }
  
  .card img {
    max-width: 300px;
    height: auto;
    border: solid #1FCCB2 10px;
    border-radius: 10%;
  }
  
  .card h2 {
    margin-top: 5px;
    color: whitesmoke;
  }
  
  .card p {
    margin-bottom: 0;
    font-weight: bolder;
    color: whitesmoke;
    
  }

  .card a {
    margin-top: 10px;
 
  }